@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(75 85 99);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base{
  body {
    @apply dark:bg-gray-800 bg-white
  }
}

.product-card img {
  height: 250px !important;
  object-fit: contain;
}

:is(.light .product-gallery-image  button > span),
:is(.dark .product-gallery-image button > span) {
  background-color: #00374b !important;
}

:is(.light .product-gallery-image button > span > svg),
:is(.dark .product-gallery-image button > span > svg) {
  color: #fff !important;
}
